/* Sets the width of the center column a bit wider than default, so tables render better. */
.md-grid {
    max-width: 67rem;
}

.md-logo img {
    width: 50px !important;
    height:50px !important;
}

.md-tabs__button {
    border-radius:5px;
    border:2px black solid;
    background-color: green;
    color:white;
    backface-visibility: hidden;
    display: flex;
    font-size: .7rem;
    margin-top: .8rem;
    backface-visibility: hidden;
    display: flex;
    font-size: .7rem;
    margin-top: .5rem;
    padding:5px;
}

.md-tabs
{
    background-color:#e1c296 !important;
    color:black !important;
}

.md-header
{
    background-color: #70232b !important;
}

.admonition
{
    border:0.1rem solid #70232b !important
}
.admonition-title
{
    background-color:#70232b14 !important;
    opacity:0.7em !important;
}
.md-ellipsis a
{
    color:black !important;
}

.md-ellipsis a.md-tabs__button
{
    color:white !important;
    text-align:center;
    font-size: 16px;
}

.md-typeset .admonition, .md-typeset details
{
    font-size:0.8rem !important;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

.md-typeset img
{
    max-width: none !important;
}

.offre-service-item-right
{
    float:right;
}

.offre-service-item-left
{
    float:left;
}

.offre-service-item-left-content
{
    float:left;
    width:85%;
}

.offre-service-item-left-image
{
    float:left;
    width:15%;
}

.md-nav__title
{
    background-color: #70232b !important;
}

.md-content__inner
{
    padding-top:0px !important;
}
.md-typeset .admonition-title:before,.md-typeset summary:before
{
    mask-image: var(--md-admonition-icon--info) !important;
    background-color:#70232b !important;
}
.md-typeset .admonition,.md-typeset details
{
    padding-top:0px !important;
    margin-top:0px !important;
}
@media screen and (min-width: 76.25em)
{
    .md-sidebar
    {
        display: none !important;
    }
}

/* Social Bottom Bar */
a[title="twitter.com"]
{
    display:none;
}

a[title="www.youtube.com"]
{
    display:none;
}

a[title="Link"]
{
    display:none;
}
