/* Sets the width of the center column a bit wider than default, so tables render better. */
.md-grid {
    max-width: 67rem;
}

.md-logo img {
    width: 50px !important;
    height:50px !important;
}

.md-tabs__button {
    border-radius:5px;
    border:1px red solid;
    background-color: red;
    color:white;
}