body
{
    font-family:"Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

/* Sets the width of the center column a bit wider than default, so tables render better. */
.md-grid {
    max-width: 67rem;
}

.md-logo img {
    width: 50px !important;
    height:50px !important;
}

.md-tabs__button:hover {
    background-color:yellowgreen;
}

.md-tabs__button {
    border-radius:5px;
    border:2px black solid;
    background-color: green;
    color:white;
    backface-visibility: hidden;
    display: flex;
    font-size: .7rem;
    margin-top: .8rem;
    backface-visibility: hidden;
    display: flex;
    font-size: .7rem;
    margin-top: .5rem;
    padding:5px;
    margin-left:10px;
}
.md-tabs__item:hover
{
    background-color: #f5e1be !important;
}
.md-tabs__item
{ 
    color:black !important;
    border-right:1px solid #c9a48a;
}
.md-tabs
{
    background-color:#e1c296 !important;
}

.md-header
{
    background-color: #70232b !important;
}

.admonition
{
    border:0.1rem solid #70232b !important
}
.admonition-title
{
    background-color:#70232b14 !important;
    opacity:0.7em !important;
}
.md-ellipsis a
{
    color:black !important;
}

.md-ellipsis a.md-tabs__button
{
    color:white !important;
    text-align:center;
    font-size: 16px;
}

.md-typeset .admonition, .md-typeset details
{
    font-size:0.8rem !important;
}

.md-typeset img
{
    max-width: none !important;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    width:100%;
}

.md-nav__title
{
    background-color: #70232b !important;
}

.md-content__inner
{
    padding-top:0px !important;
}
.md-typeset .admonition-title:before,.md-typeset summary:before
{
    mask-image: var(--md-admonition-icon--info) !important;
    background-color:#70232b !important;
}
.md-typeset .admonition,.md-typeset details
{
    padding-top:0px !important;
    margin-top:0px !important;
}
@media screen and (min-width: 76.25em)
{
    .md-sidebar
    {
        display: none !important;
    }
    #iframe-tohideinmobile {
        width:50% !important;
        float:left;
      }
    #iframe-tomaximizemobile {
        width:50% !important;
        float:left;
    }
    img.ImgBio
    {
        width:250px;
        float:left;
        margin-right:10px;
    }
    div.DivBio
    {
        vertical-align:top;
        display:inline-block;
        width:250px;
        float:left;
        margin-right:10px;
        text-align:center;
        font-size:smaller"
    }
}

@media only screen and (max-width: 600px) {
    #iframe-tohideinmobile {
      display:none;
    }
    #iframe-tomaximizemobile {
        width:100% !important
    }
    img.ImgBio
    {
        width:300px !important;
        max-width: 300px !important;
        float:left;
        margin-right:10px;
    }
    div.DivBio
    {
        vertical-align:top;
        display:inline-block;
        width:300px !important;
        max-width: 300px !important;
        float:left;
        margin-right:10px;
        text-align:center;
        font-size:smaller"
    }
}

/* Social Bottom Bar */
a[title="twitter.com"]
{
    display:none;
}

a[title="www.youtube.com"]
{
    display:none;
}

a[title="Link"]
{
    display:none;
}

.md-typeset h1
{
    margin-bottom:0 !important;
}
